<div class="lead">
  <%= form_for @message, url: messages_path, method: :post do |form| %>
  <p>
    <span>Thank you <%= form.text_field :to, class: 'hidden_input' %></span><br />
    <span>You <%= form.text_field :body %></span>
  </p>
  <p>
  <span>Cheers,</span><br /><span><%=form.text_field :from %></span>
  </p>
  <hr />
  <div><%= link_to 'Show me more', '/', class: 'btn-large btn-success' %> <%= form.submit 'Add this', class: 'btn-large btn-success' %></div>
  <% end %>
</div>
